@import './sections/_hero';
@import './sections/_about';
@import './sections/_products';
@import './sections/_gellary';
@import './sections/testimonials';
@import './sections/partners';
@import './sections/blog';
@import './sections/footer';