.page-header {
    padding-top: 100px;
    padding-bottom: 130px;
    @include bg-img(url('../../assets/img/banners/banner-2.jpg'));
    @include flexbox(center, center, column);
    position: relative;
    height: auto;

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.670);

    }
    .glass{
        padding-top: 100px;
        position: absolute;
        z-index: 100;
    }

    h1 {
        color: #ccccccb4;
    }

    p {
       color: #ccc;

    }
}

.page-content {
    padding: 60px 0;

    .inner {
        gap: 20px;
        @include flexbox(center, center, column, wrap);

        @include media-up(md) {
            @include flexbox(center, start, row);
            gap: 30px;
        }

        .right-section {
            width: 100%;

            @include media-up(md) {
                width: 70%;
            }

            background-color: #fff;
            border-radius: 6px;
            padding: 15px;

            .main-image {
                @include image($width: 100%, $height: 500px, $overflow: hidden);
                border-radius: 6px;

                img {
                    @include img();
                }
            }

            h2 {
                margin-top: 20px;
                margin-bottom: 20px;
                color: $main-color;
                font-size: 28px;
            }

            .description {
                p {
                    margin-bottom: 15px;
                    font-size: 18px;
                }
            }

            .props {
                display: flex;
                background-color: $secondary-color;
                color: #fff;
                padding: 20px;
                border-radius: 6px;

                div:first-child {
                    border-left: 1px solid rgba(238, 238, 238, 0.37);
                }

                div {
                    width: 50%;
                    padding-right: 20px;

                    ul {

                        li {
                            margin-bottom: 20px;
                            position: relative;

                            &::after {
                                position: absolute;
                                content: ':';
                                left: 50%;
                                font-size: 20px;
                            }

                            span {
                                position: absolute;
                                left: 15%;
                            }
                        }
                    }
                }
            }

            .extra-props {
                cursor: pointer;
                @include flexbox(center, center, column, wrap);
                gap: 15px;
                width: 100%;

                @include media-up(md) {
                    @include flexbox(center, center, row, wrap);

                }

                background-color: $secondary-color;
                padding: 20px;
                border-radius: 6px;
                gap: 15px;

                .box {
                    width: 100%;

                    @include media-up(md) {
                        width: 30%;
                    }

                    background-color: $background-color;

                    border-radius: 6px;
                    padding: 10px;
                    box-shadow: 3px 3px 3px $main-color;
                    @include flexbox(center, center, column);

                    i {
                        font-size: 30px;
                        color: $secondary-color;
                        background-color: $main-color;
                        width: 60px;
                        height: 60px;
                        border-radius: 50%;
                        @include flexbox();
                    }

                    h4 {
                        margin: 15px 0;
                        color: $main-color
                    }
                }

            }

            .swiper-slide {
                width: 100%;
                height: 500px;
                border-radius: 6px;
                overflow: hidden;

                margin: auto;
                img {
                    @include img();
                }
            }

            .btn-controls {
                position: absolute;
                top: 50%;
                width: 100%;
                display: flex;
                justify-content: space-between;
                padding: 0 10px;

                .btn-prev,
                .btn-next {
                    cursor: pointer;
                    pointer-events: all; // السماح بالنقر
                    background-color: $main-color;
                    color: #fff;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    z-index: 10;

                    &:hover {
                        background-color: $secondary-color;
                    }

                    i {
                        font-size: 20px;
                    }
                }
            }





            .inner-props {
                width: 100%;
                @include flexbox(center, center, column);
                gap: 15px;

                @include media-up(md) {
                    @include flexbox(start, start, row, wrap);

                }

                background-color: $background-color;
                padding: 20px;
                border-radius: 6px;
                margin-top: 20px;
                display: flex;
                gap: 15px;

                .box {

                    width: 100%;
                    @include flexbox(center, start, column);
                    gap: 15px;

                    @include media-up(md) {

                        width: 30%;
                    }

                    ul {
                        li {
                            margin-bottom: 15px;
                            position: relative;
                            margin-right: 25px;
                            border-bottom: 1px dotted #ccc;
                            padding-bottom: 8px;

                            &::before {
                                position: absolute;
                                content: "\f00c";
                                font-family: 'Font Awesome 5 Free';
                                font-weight: 900;
                                font-size: 14px;
                                width: 20px;
                                background-color: $main-color;
                                height: 20px;
                                border-radius: 50%;
                                top: 50%;
                                right: -25px;
                                color: #fff;
                                transform: translateY(-50%);
                                @include flexbox(center, center);
                            }

                            span {
                                position: absolute;
                                left: 15%;
                            }
                        }
                    }
                }
            }

            .image-video {
                position: relative;



                a {
                    position: relative;

                    img {
                        @include img(100%, 500px, cover);
                        border-radius: 6px;

                    }

                    .play-button {
                        position: relative;


                        i {
                            @include flexbox(center, center, column);
                            position: absolute;
                            font-size: 60px;
                            color: #fff;
                            background-color: rgba(0, 0, 0, 0.6);
                            width: 80px;
                            height: 80px;
                            border-radius: 50%;
                            left: 50%;
                            transform: translateX(-50%);
                            bottom: 200px;

                        }
                    }
                }

            }

            form {
                margin-top: 30px;


                label {
                    font-size: 18px;
                    margin-bottom: 10px;
                    display: block;
                }

                input,
                textarea {
                    width: 100%;
                    padding: 10px;
                    margin-bottom: 20px;
                    border: 1px solid #ccc;
                    border-radius: 6px;
                    font-size: 16px;
                }

                button {
                    background-color: $main-color;
                    color: #fff;
                    padding: 10px 20px;
                    border: none;
                    border-radius: 6px;
                    font-size: 18px;
                    cursor: pointer;

                    &:hover {
                        background-color: darken($main-color, 10%);
                    }
                }
            }
        }

        .left-section {
            width: 100%;

            @include media-up(md) {
                width: 30%;
            }

            background-color: #fff;
            padding: 15px;
            border-radius: 6px;

            h2 {
                margin-top: 20px;
                margin-bottom: 20px;
                color: $main-color;
                font-size: 28px;
            }

            .search {
                margin-bottom: 30px;
                border-bottom: 1px solid $background-color;
                padding-bottom: 30px;

                input {
                    width: 100%;
                    padding: 10px;
                    border: 1px solid $background-color;
                    border-radius: 6px;
                    font-size: 16px;
                }

                button {
                    margin-top: 10px;
                    width: 100%;
                    background-color: $main-color;
                    color: #fff;
                    padding: 10px;
                    border: none;
                    border-radius: 6px;
                    font-size: 18px;
                    cursor: pointer;

                    &:hover {
                        background-color: darken($main-color, 10%);
                    }
                }
            }

            .profile {
                margin-bottom: 30px;
                
               border: 1px solid $background-color;
                padding: 20px;
                border-radius: 6px;
                text-align: center;

                img {
                    @include img(200px, 200px, cover);
                    background-color: $background-color;
                    border: 1px solid $background-color;
                    border-radius: 50%;
                    margin-bottom: 15px;

                }

                h3 {
                    color: $main-color;
                    margin-bottom: 10px;
                    color: $main-color;
                }

                p {
                    color: $font-color;
                    font-size: 14px;
                    margin-bottom: 15px;
                }

                .social-media {
                   @include flexbox(center, center);
                    a {
                        margin-right: 10px;
                        color: $main-color;
                        font-size: 20px;
                        cursor: pointer;
                        padding: 5px;
                        width: 50px;
                        height: 50px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;
                        transition: color 0.3s ease;
                        background-color: $background-color;
                        i{
                            font-size: 25px;
                            transition: scale 0.3s ease;
                             &:hover {
                         scale: 1.2;
                        }
                        }
                       
                    }
                }
            }
            .comments{
                border: 1px solid $background-color;
                padding: 20px;
                border-radius: 6px;
                margin-bottom: 30px;
               
                 form {
                margin-top: 30px;


                label {
                    font-size: 18px;
                    margin-bottom: 10px;
                    display: block;
                }

                input,
                textarea {
                    width: 100%;
                    padding: 10px;
                    margin-bottom: 20px;
                    border: 1px solid #ccc;
                    border-radius: 6px;
                    font-size: 16px;
                }

                button {
                    background-color: $main-color;
                    color: #fff;
                    padding: 10px 20px;
                    border: none;
                    border-radius: 6px;
                    font-size: 18px;
                    cursor: pointer;

                    &:hover {
                        background-color: darken($main-color, 10%);
                    }
                }
            }
            }
             .categories{
                 border: 1px solid $background-color;
                padding: 20px;
                border-radius: 6px;
                margin-bottom: 30px;
                h3{
                    color: $main-color;
                    margin-bottom: 15px;
                }
                ul{
                    li{
                        margin-bottom: 10px;
                        background-color: $background-color;
                        padding: 10px;
                        border-radius: 6px;
                        transition: background-color 0.3s ease;
                        cursor: pointer;
                         color: $font-color;
                        &:hover{
                            color: $background-color !important;
                            background-color: $main-color;
                        }
                        
                        a{
                           
                           
                            transition: color 0.3s ease;
                            &:hover{
                                color: $background-color;
                            }
                        }
                    }
                }
             }
        }
         
    }
   
}