%btn {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
       transition: 0.4s ease-in;
    color: #fff;
    z-index: 10px;
}

.btn{
  @extend %btn;
cursor:pointer;
  background:$secondary-color;
  color: #fff;
  border-top-right-radius:10px;
  border-bottom-left-radius:10px;
  transition:all 1s;
  &:after,&:before{
    content:" ";
    width:10px;
    height:10px;
    position:absolute;
    border :0px solid #fff;
    transition:all 1s;
    }
  &:after{
    top:-1px;
    left:-1px;
    border-top:5px solid $main-color;
    border-left:5px solid $main-color;
  }
  &:before{
    bottom:-1px;
    right:-1px;
    border-bottom:5px solid $main-color;
    border-right:5px solid $main-color;
  }
  &:hover{
    border-top-right-radius:0px;
  border-bottom-left-radius:0px;
    // background:rgba(0,0,0,.5);
    // color:white;
    &:before,&:after{
      
      width:100%;
      height:100%;
      // border-color:white;
    }
  }
}


.btn-primary {
    @extend %btn;
      border: 2px solid $main-color;
   text-align: center;
    color:  $background-color;
    transition: 0.4s ease;

    &:hover {
      background-color: rgba($main-color,0.3);

    }
}
.btn-danger {
  @extend %btn;
   border: 1px solid $secondary-color;
    color:  $background-color;
  text-align: center;
  transition: 0.4s ease;

    &:hover {
      background-color: rgba($secondary-color,0.2);

    }
}
