header {
    height: $header-height;
    @include flexbox();
      background-color: #0000001a;
             backdrop-filter: blur(15px);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.06); 
 
         
         
          border-bottom: 1px solid rgba(255, 255, 255, 0.1);
         padding: 1rem 2rem;
         position: fixed;
         top: 0;
         width: 100%;
         z-index: 1000;
    //      .overlay {
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    //     background-color: rgba(0, 0, 0, 0.460);
    // }
   

    &.scrolled {
        background-color: $main-color; 
        
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    }

    nav {
         @include flexbox(space-between, center);
         @include container;
          z-index: 1000;
        
        
        ul {
            list-style: none;
            display: none;
            
            @include media-up(md) {
                @include flexbox();
                gap: 20px;
            }

            li {
                cursor: pointer;

                
                a {
                    font-weight: 600;
                    font-size: $font-size-base;
                    color: $background-color;
                    transition: 0.3s ease;

                    &:hover {
                        color: $secondary-color;
                    }
                }
                
            }
            li.active {
                a {
                    color: $secondary-color;
                }
            }
            .mode{
                display: none;
                @include media-up(md) {
                    display: flex;
                }
                    a{
                        i{
                            font-size: 20px;
                            margin-right: 20px;
                        }
                    }
                }
        }

        .icons {
            display: none;
            @include media-up(md) {
                display: flex;
            }
            gap: 15px;

            a {
              color: $background-color;
                transition: 0.3s ease;

                &:hover {
                   scale: 1.2;
                }
            }

            i {
                font-size: 22px;
                cursor: pointer;
            }
        }

        .mobile-nav-icon {
            display: flex;
            cursor: pointer;
            color: $background-color;

            @include media-up(md) {
                display: none;
            }
            font-size: 22px;
            cursor: pointer;
        }
}
}