.gellary{
    padding: 50px 10px;
  background-color: #fff;

    .all-images{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 20px;
        .image{
            @include image($width: 100%, $height: 200px, $overflow: hidden);
            border-radius: 10px;
            cursor: pointer;
            transition: all 0.4s ease;
            &:hover{
                scale: 1.05;
            }
            img{
                @include img();
            }
        }
    }
}