.testimonials {
    padding: 50px 0;
    position: relative;
  padding-right: 10px;
    padding-left: 10px;
    
    &.testimonials::before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: "";
        @include bg-img(url('../../assets/img/backgrounds/2.jpg'));
        opacity: 0.7;
        z-index: -1;
    }

    .all-testimonial {
        
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 30px;
        margin-top: 30px;
        
        .box {
            margin-top: 30px;
            background-color: #fff;
            padding: 10px;
            padding-top: 35px;
            padding-bottom: 15px;
            margin-bottom: 20px;
            @include flexbox(center, center, column);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            position: relative;
            border-radius: 10px;
            transition: all 0.4s ease;
            cursor: pointer;

            &:hover {
                transform: translateY(-5px);

            }

            &::before {
                position: absolute;
                content: "";
                left: 0;
                bottom: 0;
                width: 3px;
                height: 0;
                background-color: $main-color;

                transition: 0.4s;
            }

            &::after {
                position: absolute;
                content: "";
                left: 0;
                bottom: 0;
                width: 0;
                height: 3px;
                background-color: $main-color;

                transition: 0.4s;
            }

            &:hover::before {
                height: 50%;
            }

            &:hover::after {
                width: 50%;
            }

            .image {
                position: absolute;
                top: -20%;
                right: 0;
                background-color: #fff;
                @include flexbox(center, center, column);
                @include image($width: 80px, $height: 80px, $overflow: hidden);
                border-radius: 50%;
                margin-bottom: 10px;
                border: 3px solid $main-color;

                img {
                    @include img();
                }
            }

            h3 {
                margin: 10px 0 5px 0;
                font-size: 18px;
                color: $main-color;
                font-family: Almarai;
            }

            .jop {
                font-size: 14px;
                color: #666;
                text-align: center;
                line-height: 1.5;
            }

            .stars {
                i {
                    color: $secondary-color;
                    margin-top: 10px;
                }
            }

            .review {
                margin-top: 10px;
                font-size: 14px;
                color: $font-color;
                text-align: center;
                line-height: 1.5;
            }
        }

    }
}