@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Cairo:wght@200..1000&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family-base;
}
body {
    background-color: $background-color;
    color: $font-color;
    line-height: 1.6;
    font-size: 16px;
}

ul {
    list-style: none;
}
img{
    max-width: 100%;
}
.section-title{

    font-size: 30px;
    color: $main-color;
    text-align: center;
    font-family: Almarai;
    margin: auto;
    width: fit-content;
    position: relative;
  
    &::before{
        position: absolute;
        content: '';
        width: 70px;
        height: 4px;
         @include media-up(md){
           
    }
        background-color: $secondary-color;
        right: -80px;
        top: 50%;
    }
    &::after{
        position: absolute;
        content: '';
        width: 70px;
        height: 4px;
     
        background-color: $secondary-color;
        left: -80px;
        top: 50%;
    }
}
.section-description{
    text-align: center;
    font-size: 18px;
    width: 80%;
    margin: 10px auto;
    margin-bottom: 30px;
   
}
a {
    text-decoration: none;
    color: inherit;
}

.container {
    @include container;
}
#scrollToTopBtn {
  display: none; /* Hidden by default */
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 100;
  font-size: 20px;
  width: 40px;
  height: 40px;

  border: none;
  outline: none;
  background-color: $main-color; /* Your theme color */
  color: white;
  cursor: pointer;

  border-radius: 50%;
  transition: 0.3s;
  @include flexbox();
}

#scrollToTopBtn:hover {
  background-color: $secondary-color; /* Change color on hover */
}
