@mixin container {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;

        @each $breakpoint , $width in $container-widths {
            @media (min-width: map-get($breakpoints , $breakpoint)) {
                max-width: $width;
            }
        }
}

@mixin media-up($breakpoint) {
    @media (min-width: map-get($breakpoints , $breakpoint)) {
        @content;
    }
}

@mixin flexbox($justify: center, $align: center, $direction: row, $wrap: nowrap) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
    flex-wrap: $wrap;
}

@mixin bg-img($url) {
    background-image: $url;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
@mixin img($width: 100%, $height: 100%, $object-fit: cover) {
    width: $width;
    height: $height;
    object-fit: $object-fit;
}
@mixin image ($width: 100%, $height: auto ,$overflow: hidden) {
    width: $width;
    height: $height;
    overflow: $overflow;
}