
$main-color:#184A45;
$btn-color: #a3b18a;
$secondary-color: #a3b18a;
$font-color: #6E6E6E;
$background-color: #e6e9ed;
$header-height: 60px;
$footer-height: 80px;
$spacing-unit: 16px;
$font-family-base: 'Cairo', sans-serif;
$font-size-base: 16px;
$line-height-base: 1.6;
$border-radius: 5px;
$transition-duration: 0.3s;
$box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

$breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);

$container-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1320px
    );
